{% capture assetsIconsFolder %}{{ '/assets/icons/' | prepend: site.baseurl }}{% endcapture %}
<!-- http://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ assetsIconsFolder }}apple-touch-icon.png">
<link rel="icon" type="image/png" href="{{ assetsIconsFolder }}favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ assetsIconsFolder }}favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="{{ assetsIconsFolder }}manifest.json">
<link rel="mask-icon" href="{{ assetsIconsFolder }}safari-pinned-tab.svg" color="#ee9900">
<link rel="shortcut icon" href="{{ assetsIconsFolder }}favicon.ico">
<meta name="apple-mobile-web-app-title" content="GDM">
<meta name="application-name" content="GDM">
<meta name="msapplication-config" content="{{ assetsIconsFolder }}browserconfig.xml">
<meta name="theme-color" content="#ffffff">